@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  transition: 700ms;
}

.txt-transparent-hero {
  -webkit-text-stroke-width: 2.4px;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width:342px) {
  .container-btns-reservation {
    justify-content: center;
  }
}

@media screen and (max-width:440px) {
  .container-btns-delete {
    width: 100%;
    justify-content: center;
  }

  #ModalDelete p {
    width: 100%;
  }

  #ModalDelete {
    width: 100%;
  }
}

@keyframes menuMobile {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

#menuMobile {
  animation: menuMobile 0.4s ease-in-out;
  display: none;
}

#menuMobileReservations {
  animation: menuMobile 0.4s ease-in-out;
  display: none;
}

@media screen and (max-width:1056px) {
  #menuMobileReservations {
    display: flex;
  }

  #menuReservations {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #menuMobile {
    display: flex;
  }

  #menu {
    display: none;
  }
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

#overlay.active {
  display: block;
}

@media screen and (max-width: 1440px) {
  .headerReservation {
    column-gap: 4rem;
  }
}

.btns-hero-menu .svgMenu,
.btns-hero.reservar #svg {
  transition: ease-in-out 300ms;
}

.btns-hero-menu:hover .svgMenu {
  rotate: 90deg;
  transform: scale(1.2);
}

.btns-hero.reservar:hover #svg {
  rotate: -45deg;
  transform: scale(1.2);
}

.titles {
  font-family: 'Caveat Variable', cursive;
}

.txt-postHero {
  font-family: 'Caveat Variable', cursive;
}

.btns-hero {
  font-family: 'Shrikhand', system-ui;
}

#Hero {
  font-family: 'Shrikhand', system-ui;
  font-weight: 800;
  margin-bottom: 22rem;
}

@media screen and (max-width:1227px) {
  #Hero {
    margin-left: 10rem;
  }
}

@media screen and (max-width:900px) {
  #Hero {
    margin-left: 5rem;
  }
}

@media screen and (max-width:790px) {
  #Hero {
    margin-left: 2rem;
  }
}

@media screen and (max-width:630px) {
  input {
    width: 100%;
  }
}

@media screen and (max-width:1170px) {
  .header {
    column-gap: 4rem;
  }

  .labelResponsive {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width:1040px) {
  #containerCalendar {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 12px;
  }

  #ButtonCalendar {
    width: 100%;
    display: flex;
  }

  #date-input {
    width: 100%;
    display: flex;
  }
}

#ButtonCalendar:hover {
  box-shadow: 1px 1px 5px 1px rgb(11, 11, 11);
}

input::placeholder {
  color: black;
  font-weight: 700;
}

input {
  font-weight: 700;
  color: black;
}

input:hover {
  box-shadow: 1px 1px 5px 1px rgb(11, 11, 11);
}

input:focus {
  border: 2px rgb(40, 40, 40) solid;
  outline: rgb(40, 40, 40);
}

@media screen and (max-width:670px) {
  #Hero #bigImg {
    margin-top: 2rem;
    width: 300px;
  }

  #Hero #bgImgsHero {
    width: 400px;
  }

  #Hero #bgImgsHero {
    width: 400px;
  }

  #textHero,
  #postHero {
    margin-inline: 1rem;
  }

  #Hero {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width:460px) {
  #container-imgs-hero {
    margin-top: 4rem;
    display: grid;
  }

  #bgImgsHero {
    display: none;
  }

  #postHero {
    width: 300px;
    gap: 5rem;
  }

  #postHero img {
    max-width: 280px;
  }

  #postHero .postheroimg2 {
    height: 280px;
  }

  #Hero {
    margin-left: .5rem;
  }
}

@media screen and (max-width:980px) {

  #postHero .first-container,
  #postHero .second-container {
    flex-direction: column;
  }
}

Html {
  overflow: auto;
}

Html::-webkit-scrollbar {
  width: 13px;
}

Html::-webkit-scrollbar-track {
  background: #444040;
}

Html::-webkit-scrollbar-thumb {
  background: #FE9A00;
  border-radius: 10px;
}

Html::-webkit-scrollbar-thumb:hover {
  background: #d59638;
}

@media screen and (max-width:370px) {
  .containerCreateReservation {
    width: 280px;
    margin-right: 12px;
    margin-inline: 0;
  }

  .container-btns-reservation {
    margin-left: -1rem;
  }

  .container-btns-delete {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 510px) {
  .modalUpdateReservation {
    width: 100%;
  }
}



.marquee-row-1,
.marquee-row-2 {
  display: flex;
  white-space: nowrap;
}

.marquee-row-1 {
  animation: marquee-left 60s linear infinite;
}

.marquee-row-2 {
  animation: marquee-right 60s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translate3d(-25%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.marquee-row-1:hover,
.marquee-row-2:hover {
  animation-play-state: paused;
}




@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-33.333%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 45s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}